# Mac OS X cruft
*.pbxuser
*.mode1v3
*.mode2v3
*.user
*.xcworkspace/
xcuserdata/
.DS_Store

build/

# Windows cruft
*.suo
*.ncb
*.sdf
Debug/
Release/

sample/GizmoSample/xcode/GizmoSample.xcodeproj/project.xcworkspace/xcuserdata/simongeilfus.xcuserdatad/UserInterfaceState.xcuserstate

sample/GizmoSample/xcode/GizmoSample.xcodeproj/xcuserdata/simongeilfus.xcuserdatad/xcschemes/GizmoSample.xcscheme
